<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MiSeguridadApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.mapbox.token"
            android:value="TU_ACCESS_TOKEN" />

        <activity
            android:name=".ui_.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MiSeguridadApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui_.HomeActivity"
            android:exported="true"
            android:label="Home Activity"
            android:theme="@style/Theme.MiSeguridadApp" />
        <activity
            android:name=".ui_.RegistrarIncidenciaActivity"
            android:exported="true"
            android:label="Registar Incidencia Activity"
            android:theme="@style/Theme.MiSeguridadApp" />
        <activity
            android:name=".ui_.ModificarIncidenciaActivity"
            android:exported="true"
            android:label="Modificar Incidencia Activity"
            android:theme="@style/Theme.MiSeguridadApp" />
        <activity
            android:name=".ui_.RegistrarUsuarioActivity"
            android:exported="true"
            android:label="Registrar Usuario Activity"
            android:theme="@style/Theme.MiSeguridadApp" />
        <activity
            android:name=".ui_.VisualizarIncidenciasActivity"
            android:exported="true"
            android:label="Visualizar Incidencia Activity"
            android:theme="@style/Theme.MiSeguridadApp" />
        <activity
            android:name=".ui_.RegistrarOrganizacionActivity"
            android:exported="true"
            android:label="Registrar Organizacion Activity"
            android:theme="@style/Theme.MiSeguridadApp" />
        <activity
            android:name=".ui_.MapaActivity"
            android:exported="true"
            android:label="Mapa Activity"
            android:theme="@style/Theme.MiSeguridadApp" />
    </application>

</manifest>